.vscode


#server details
behavior_packs
definitions
development_behavior_packs
development_resource_packs
development_skin_packs
minecraftpe
premium_cache
resource_packs
structures
treatments
world_templates
bedrock_server
bedrock_server_how_to.html
bedrock_server_realms.debug
Dedicated_Server.txt
libCrypto.so
release-notes.txt
bedrock-server-1.14.60.5 (ubuntu).zip
